@charset "ISO-8859-1";

#header {
	background-position: center center;
	background-repeat: no-repeat;
	background-image: url();
	height: 188px;
	
}

body {
	background-color: #F8F1DC;
}
form{
	text-align:center;
}

.cabecera{
	  margin: auto;
  width: 100%;
 
  padding: 20px;
}
#cabecera{
/* 	display:block; */
	margin:auto;
	witdth:100%;
	max-width:100%;
max-height:100%;
}

#video{
	display:block;
	margin:auto;
}
#cuadrotexto{
	font-family: 'Courier New', sans-serif;
}

#menta{
	display:block;
	margin:auto;
	width:50%;
}

#anis{
	display:block;
	margin:auto;
	width:50%;
}
	
#canela{
	display:block;
	margin:auto;
	width:50%;
}
#manzanilla{
	display:block;
	margin:auto;
	width:50%;
}
#melisa{
	display:block;
	margin:auto;
	width:50%;
}
#hierbaluisa{
	display:block;
	margin:auto;
	width:50%;
}	
#negro{
	display:block;
	margin:auto;
	max-width:100%;
}	
#rojo{
	display:block;
	margin:auto;
	max-width:100%;
}	
#verde{
	display:block;
	margin:auto;
	max-width:100%;
	;
}	
#historiate{
	display:block;
	margin:auto;
}	



h1{font-family: 'Courier New', sans-serif;
	font-size: 60px;
	font-weight: bold;
	color: #FA8072;
	font-style: oblique;
	text-align: center;
	text-shadow: 3px 2px grey;
	
	
}
h2{
	font-family: 'Courier New', sans-serif;
	font-size: 30px;
	font-weight: normal;
	color: #FA8072;
	font-style: oblique;
	text-align: center;
	text-decoration: underline;
	text-transform: uppercase;
	  
}

h3{
	font-family: 'Courier New', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #FFA07A;
	font-style: oblique;
	text-align: left;
	text-transform: uppercase;
}
 h4{font-family: 'Courier New', sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #66605F;
	font-style: oblique;
	text-align: left;
	
 }
p{
	font-family: 'Courier New', sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #66605F;
	font-style: normal;
	text-align: left;
	text-align: justify;
	
}

#infusion{
	width:200px;
}
#fotopie {
	width: 5%;
	padding: 1 em;
}
#fotopie1 {
	width: 5.2%;
	padding: 1 em;
}


#fotored {
	width: 10%;
	padding:0.05em;
	
}
#accede{
	width: 20%
}
.header {
	width: 100%;
	height: 20%;
}

.contenido {
	float: right;
	width: 100%;
	height: 60%;
	margin: auto;
}

footer {
	float: left;
	width: 100%;
	height: 20%;
}

.section {
	float: left;
	width: 80%;
	height: 100%;
	margin: 1%;
}
.center {
  margin: auto;
  width: 60%;
 
  padding: 20px;
}

ul.a {
  list-style-type: circle;
  font-family: 'Courier New', sans-serif;
	font-size: 15px;
	font-weight: normal;
	color: #66605F;
	font-style: normal;
	text-align: left;
	text-align: justify;
}
.right {
  position: absolute;
  right: 0px;
  width: 200px;
 
  padding: 20px;
}

.derecha {
  position: absolute;
  right: 0px;
  width: 30%;
 
  padding: 20px;
}

.left {
  position: absolute;
 leftt: 0px;
  width: 30%;
 
  padding: 20px;
}
.centrado{
	text-align:center;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.mySlides {display:none;}

.w3-light-grey{background-color: #FFA07A !important;
color:white!important;
font-family: 'Courier New', sans-serif;
}